.footer {
    position: relative;
    padding: 32px 0;
    background-color: var(--primary-dark);
    background-image: url(../images/footer-bgi.png);
  
&::before {
    content: "";
    background-image: url(../images/footer-bgi-before.png);
    background-repeat: no-repeat;
    position: absolute;
    width: 180px;
    height: 120px;
    bottom: 0;
    left: 0;
  }

 &::after {
    content: "";
    background-image: url(../images/footer-bgi-after.png);
    background-repeat: no-repeat;
    position: absolute;
    width: 380px;
    height: 190px;
    bottom: -4px;
    right: 0;
  }  

&__nav-item:not(:last-child) {
    margin-bottom: 16px;
}

&__address-item:not(:last-child) {
    margin-bottom: 16px;
  }

&__socials-link {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
&__social-icon {
    width: 32px;
    height: 32px;
    fill: var(--primary-light);
    transition: fill 0.3s, scale 0.3s;

    &:hover {
        fill: var(--primary-green);
        scale: 1.1 1.1;
    }
  }

&__privacy-policy {
    display: inline-block;
    margin-bottom: 16px;
  }
  
&__data-protected {
    color: var(--accent-beige);
    font-size: 14px;
  }   
} 