.form-section {

&__wrap {
    flex-basis: 50%;
  }

&__title {
    margin-bottom: 16px;
  }

 &__text {
    margin-bottom: 42px;
  }

 &__input {
    margin-bottom: 24px;
 } 

 &__btn {
    display: block;
    margin: 0 auto;
  }

 &__policy {
    display: block;
    max-width: 240px;
    margin: 16px auto 0;
    font-size: 12px;
    text-align: center;
  }
  
  &__map {
    border-radius: 16px;
  }
}